@import "~bootstrap/scss/bootstrap";

// generali
.d-flex{
    display: flex;
}

.c-white{
    color: white;
}

//header
header{
    position: absolute;
    width: 100%;
    z-index: 1;

    div.header-container{
        align-items: center;
        justify-content: space-around;
        padding: 1rem;

        ul{
            margin: 0;

            li{
                list-style-type: none;
                padding: 0 0.5rem;
                margin: 0 0.5rem;
    
                &:hover{
                    background-color: white;
                }
    
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    
        div.back-circle{
            background-color: black;
            margin-right: 0.5rem;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            i{
                margin: auto;
                padding: 0.5rem;
            }
        }
    }
}

//Main

div.hero-zone{
    height: 70vh;
    position: relative;
    background-image: url('https://lh3.googleusercontent.com/sxLk_1GtCAI0lXU9WM53WFzAmUn_PRPdl2KTkk7rzJvP_i2A5YaiJyYTi_pp_K4xiGsIDKCkzWMvE-t35WRlf75dHmg=w640-h400-e365-rj-sc0x00ffffff');
    background-size: cover;

    div.hero-text{
        text-align: center;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
    }

    div.bottom-shadow{
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
        background: linear-gradient(rgba(255,255,255,0.01), white);
    }
}