@import "~bootstrap/scss/bootstrap";

// generali

//variabili
//$my-light-blue:

//header
header{
    position: absolute;
    width: 100%;
    z-index: 1;

    div.my-header-container{
        align-items: center;
        justify-content: space-around;
        padding: 1rem;

        ul{
            margin: 0;

            li{
                list-style-type: none;
                padding: 0 0.5rem;
                margin: 0 0.5rem;
    
                &:hover{
                    background-color: white;
                }
    
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    
        div.my-back-circle{
            background-color: black;
            margin-right: 0.5rem;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            i{
                margin: auto;
                padding: 0.5rem;
            }
        }
    }
}

//Main

div.my-hero-zone{
    height: 70vh;
    position: relative;
    background-image: url('https://lh3.googleusercontent.com/sxLk_1GtCAI0lXU9WM53WFzAmUn_PRPdl2KTkk7rzJvP_i2A5YaiJyYTi_pp_K4xiGsIDKCkzWMvE-t35WRlf75dHmg=w640-h400-e365-rj-sc0x00ffffff');
    background-size: cover;

    div.my-hero-text{
        text-align: center;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
    }

    div.my-bottom-shadow{
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
        background: linear-gradient(rgba(255,255,255,0.01), white);
    }
}

article.my-board-card{
    width: 80%;
    margin: auto;
    max-height: 70vh;
    border: 1px solid black;

    div.my-left-card{
        width: 40%;
        padding: 1rem;

        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    div.js-center-card{
        width: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div{
            height: 100px;
            width: 100px;
            margin: 5px;
            border: 1px solid grey;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        div.js-active{
            border: 2px solid blue;
        }
    }

    div.my-right-card{
        width: 40%;
        flex-direction: column;
        justify-content: space-around;

        ul{
            margin: 0;
            padding: 0;
        }

        li{
            list-style-type: none;
            padding-right: 1rem;
        }

        #price{
            display: inline;
            padding-right: 2rem;
        }
    }
}

section.my-about-us{
    position: relative;
    padding-top: 2rem;

    img{
        width: 100%;
    }

    iframe{
        position: relative;
        left: 50%; bottom: 100px;
    }

    div.my-surfer-co{
        width: 40%;
        height: 60vh;
        position: absolute;
        left: 0; bottom: 0;
        background-color: white;
        padding: 4rem 2rem 2rem 5rem;
    }
}

section.my-insta-form{
    justify-content: flex-end;
    padding: 0;

    form{
        padding-top: 3rem;
        width: 45%;

        input,select,textarea{
            margin: 0.3rem;
        }
    }

    div.my-instagram{
        width: 40vw;
        position: absolute;
        left: 10%;

        div.my-instagram-images{
            flex-wrap: wrap;

            img{
                width: calc(40vw / 2);
                height: calc(40vw / 2);
                object-fit: cover;
            }
        } 
        
        div.insta-bottom{
            align-items: center;
            justify-content: space-around;
        }
    }
}

footer{
    background-color: black;
    justify-content: flex-end;
    height: 50vh;

    div{
        padding-top: 6rem;
        width: 45%;

        ul{
            height: 50%;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0;

            li{
                list-style-type: none;
                height: 25%;

                a{
                    text-decoration: none
                }
            }
        }   
    }
}